body {
    background-color: #FFBC42;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(79, 77, 74, 0.657);

}

h4,
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}



.title {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}


.about {

    width: 90%;
    background-color: antiquewhite;
    color: rgba(79, 77, 74, 0.874);
    margin-right: 100px;
}

.abilities {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: gray;
}

.lists {
    text-align: center;
    font-size: 30px;
}


a {
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
}

.portifolio2 {
    font-size: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.picture {background-color: antiquewhite; border: 2px solid red; width: fit-content; 
    padding: 100px;
    background-image: url(foto-perfil.png);
    background-size:cover;
   }